.calc, .display, .row, .buttons {
    display: flex; 
    
}

.calc, .display, .buttons {
    padding: 10px; 
} 

.calc {
    background: white;
    height: 320px; 
    width: 200px; 
    border-radius: 15px; 
    flex-direction: column;
    padding: 10px; 
}

.display, .buttons {
    background: rgb(95, 195, 241);
    opacity: 0.75; 
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px; 
}

.display, .row {
    flex: 1; 
}

.display {
    color: white; 
    text-align: right;
    font-size: 40px;  
    margin-top: 30px;  
}

.buttons, .row {
    justify-content: space-between;
}

.buttons {
    flex: 4; 
}

.equalsBox, .Calcbox {
    background: rgb(255, 152, 183); 
    font-family: 'Gill Sans';
    height: 30px; 
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
}

.Calcbox {
    width: 40px; 
   
}
.equalsBox {
    width: 90px; 
}

.equalsBox:hover, .Calcbox:hover {
    opacity: 0.75; 
    transition: 0.75; 
}

.equalsBox:active, .Calcbox:active {
    opacity: 0.5; 
    transition: 0.9; 
}

.CalcuHandle {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 220px;
    height: 30px;
    background: rgb(255, 152, 183);
    /*linear-gradient(to right, #a6fbc9, #89ffff);*/
    /*linear-gradient(to right, #60ef9c, #20eded);*/
    cursor: grab;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .CalcuHandle:active {
    cursor: grabbing;
  }
  
  .CalcuHandle-content {
    font-size: large;
    font-family: "Gill Sans";
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
  }

  .CalcMain {
    position: absolute;
  }

  .Calclose-button{
    all: unset;
    color: white;
    margin-left: 115px;
    margin-top: 5px;
    font-size: 20px;
  }
