.calc, .display, .row, .buttons {
    display: flex; 
    
}

.calc, .display, .buttons {
    padding: 10px; 
} 

.calc {
    background: linear-gradient(to right, #60ef9c, #20eded);
    height: 300px; 
    width: 200px; 
    border-radius: 15px; 
    flex-direction: column;
    padding: 10px; 
}

.display, .buttons {
    background: #064466;
    opacity: 0.75; 
    flex-direction: column;
    border-radius: 10px; 
}

.display, .row {
    flex: 1; 
}

.display {
    color: white; 
    text-align: right;
    font-size: 50px;  
    margin-bottom: 10px;  
}

.buttons, .row {
    justify-content: space-between;
}

.buttons {
    flex: 4; 
}

.equalsBox, .Calcbox {
    background: rgb(218, 236, 140); 
    height: 30px; 
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
}

.Calcbox {
    width: 40px; 
   
}
.equalsBox {
    width: 90px; 
}

.equalsBox:hover, .Calcbox:hover {
    opacity: 0.75; 
    transition: 0.75; 
}

.equalsBox:active, .Calcbox:active {
    opacity: 0.5; 
    transition: 0.9; 
}