/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #f39c12;
}
