/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 106, 106);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: "Gill Sans";
  font-size: 20px;;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #5512f3;
}

.roomButton{
  cursor: pointer;
}

.roomButton:hover{
  color: #5512f3;
}