.App {
    background-color: #6e9ae6;
    margin: 0px;
    margin-top: -100px;
    position: fixed;
}

.video-background{
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 80%;
    padding: 0px;
}