.Login{
    background: linear-gradient(to right,rgb(255, 113, 113), rgb(79, 99, 255));
    text-align: center;
    object-fit: fill;
    opacity: 80%;
    margin: auto;
    width: 100%;
    height: 890px;
    padding: 5px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    justify-content: space-between;
    position: sticky;
    
}

.LoginShadow{
    width: 500px;
    height: 400px;
    margin-top: 250px;
    margin-left: 630px;
    border-radius: 10px;
    position: absolute;
    box-shadow: inset 0 0 0 1000px rgba(82, 85, 83, 0.637);
    color: white;
}
.Loginn{
    font-size: 30px;
    width: 500px;
    height: 400px;
    margin-top: 200px;
    margin-left: 650px;
    background-color:rgb(254, 145, 163);
    border-radius: 10px;
    justify-content: space-between;
    align-self: center;
    padding: 5px;
    position: relative;
    color: white;
}


.buttL{
    border-radius: 10px;
    color: rgb(5, 48, 4);
    background-color: rgb(115, 115, 227);
    border-style: none;
    width: 420px;
    font-size: 15px;
    margin-top: -10px;
    padding: 10px;
    margin-top: -10px;
}

.InputL{
    margin-top: 10px;
    border-radius: 10px;
    width: 400px;
    font-size: 15px;
    padding: 10px;
    height: 30px;
    border-style: none;
    background-color: rgb(209, 229, 249);
}

.WelcomeL{
    width: 400px;
    font-size: 35px;
    padding: 10px;
    height: 200px;
    background-color: rgb(188, 206, 246);
    border-radius: 10px;
    margin-left: 250px;
    align-self: baseline;
    position: relative;
    margin-top: -350px;
    color: rgb(31, 5, 127);
    justify-self: center;
}

.WelcomeLShadow{
   
    width: 400px;
    padding: 10px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 270px;
    margin-top: -330px;
    box-shadow: inset 0 0 0 1000px rgba(82, 85, 83, 0.637);
    opacity: 70%;
    position: absolute;

}