.Login{
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    background-color: rgb(105, 243, 199);
    width: 1250px;    
    margin-top: 40px;
    height: 620px;
    padding: 5px;
    border-radius: 10px;
    background: url("IMG_7675.jpg");
    
}
