/* Assuming you have a CSS file for your component, let's say Room.css */

/* Styling for the chat icon */
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styling for the chat icon image */
.chat-icon img {
  width: 30px; /* Adjust the size of the chat icon as needed */
  height: 30px;
}

.chat-modal {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 20%;
  min-width: 300px; /* Set a minimum width for the chat-modal */
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Set the container as a flex container with vertical flex-direction */
  align-items: center;
}

/* Styling for the chat modal input */
.chat-modal input[type="text"] {
  flex: 1; /* Make the input container take up the available space inside .chat-modal */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}


/* Styling for the chat modal close button */
.close {
  color: #aaa;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

/* Styling for the chat modal messages */
.message-container-container {
  flex: 1; /* Make .message-container-container take up the remaining space inside .chat-modal */
  overflow-y: auto;
  max-height: calc(90vh - 100px);
  width: 100%;
}

.message-sender {
  font-weight: bold;
  margin-right: 5px;
}

.message-date {
  font-size: 12px;
  color: #666;
}

.message-container{
  width: 100%;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

.top-message-container{
  display: flex;
  align-items: center;
}

