.resizable-box {
    position: relative;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .box {
    display: flex;
    height: 100%;
    font-size: 20px;
    color: #333;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;

  }
  
  .react-resizable-handle {
    position: fixed;
    width: 10px;
    height: 10px;
   /*background-color: #007bff;*/
    border-radius: 50%;
    /*border: 2px solid #fff;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 0;
    right: 0;
  }
  
  .react-resizable-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
  }
  
  .react-resizable-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
  }
  
  .react-resizable-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
  }
  
  .react-resizable-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
  }
  
  .content {
    display: flex;
    font-size: 20px;
    color: black;
    flex-direction: column;
  }

  

  .add-todo-input{
    width: 75%;
    align-content: center;
  }
  
  .TodoHandle {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    cursor: grab;
    border-bottom: 1px solid white;
    transition: background-color 0.3s;
  }
  
  .TodoHandle:active {
    cursor: grabbing;
  }

  .TodoHandle-content {
    font-size: large;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
  }
  
  .close-button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    outline: none;
    font-size: 25px;
  }

  .todo {
	position: relative;
	padding: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: text;
}

.todo:hover {
    background-color: #F0F0F0;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 2px solid black;
	transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo.is-complete .checkbox::before {
    content: '\2713';
}

.todo .text {
    outline: none;
	font-size: 20px;
}

.todo.is-complete {
    cursor: default;
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.todos {
    margin-top: 10px;
}

.todo .delete-todo {
	position: absolute;
	top: 50%;
	transform: translateY(-70%);
	right: 16px;
	width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
}

.todo:hover .delete-todo{
    background-image: url('trashcan.png');
}

.addPopup {
	margin-top:10px;
  margin-bottom: -70px;
    margin-left:10px;
    font-size: 36px;
    color : black;
    cursor: pointer;
}

.popup {
  margin-top: -20px;
  margin-left: 13px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 400px;
	background-color: var(--light);
	box-shadow: 0px 4px 32px var(--dark);

  display: flex;
  flex-direction: column;
}

.closePopup,
.content {
  margin-bottom: -20px;
  display: inline-flex;
}

.add-todo-input {
  display: inline-block;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  transition: border-color 0.3s ease;
}

.button {
  display: inline-block;
}
