/* Custom styles for the calendar container */
.fc {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  width: 70%;
}

/* Custom styles for event elements */
.fc-event {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

/* Custom styles for the calendar header */
.fc-toolbar {
  padding-top: 18px;
  background-color: #333;
  color: #ffffff;
}

.CalenHandle {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 70%;
  height: 30px;
  background-color: black;
  cursor: grab;
  border-bottom: 1px solid white;
  transition: background-color 0.3s;
}

.CalenHandle:active {
  cursor: grabbing;
}

.CalenHandle-content {
  font-size: large;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
}

.CalenMain {
  position: absolute;
  width: 70%;
  z-index: 3;
}