.profileModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Background overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.profileModal.open {
    display: flex; /* Display the modal when open */
}

.profileModal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.closeProfile {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    line-height: 36px;
    z-index: 10;
}

.closeProfile:hover {
    color: gray;
}

.UserProfileHeader{
    text-align: center;
    margin-bottom: 20px;
}

.profile-details {
    margin-bottom: 20px;
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c; /* Change to a softer red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c0392b; /* Darken the color on hover */
}
