.bar{
    display: center;
    list-style: none;
    align-items: center;
    
}

.mainArrow{
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    opacity: 40%;

    width: 20px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    position: fixed;
    margin-top: 324px;
}

.mainArrow:hover{
    opacity: 100%;
}

.closeArrow{
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    width: 20px;
    margin-top: 230px;
    margin-left: 42px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    position: fixed;
    opacity: 40%;
}

.closeArrow:hover{
    opacity: 100%;
}

.list{
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 32px;
    height: 530px;
    position: fixed;
    padding: 10px;
    margin-left: 1%;
    top: 12%;
    left: -100%;
    transition: 350ms;
}

.list.active{
    left: 0;
    margin-left: 0px;
    transition: 350ms;
}

.button-list{
    padding: 2px;  
    margin-top: auto; 
    margin-bottom: auto;
}

.Button button{
    all: unset;
    font-size: 30px;
    padding-top: 10%;
    padding-bottom: 10%;
    border-color: transparent;
    border-radius: 0px;
}

.bottom{
    margin-top: 100px;
}

.Button button:hover{
    color: red;
}

.Timer, .Todo, .Notepad, .Calendar, .UserProfile, .Background {
    position: absolute;
}
